header{
    display: flex;
    border-style: solid;
    border-width: 1px;
    align-items: center;
    justify-content: space-around;
    border-color: black;
    background-color: rgb(42, 122, 120);
    font-family: verdana;
    margin-bottom: 10px;
  }

  .Logo{
    width: 6%;
    height: 6%;
    order: 1;
  }

  h1{
    white-space: nowrap;
    order: 2;
    width: 70%;
    justify-content: flex-start;
  }

  h1 a{
      text-decoration: none;
      color: white;
  }

  .dropdown{
    order: 4;
    width: 30%;
    height: auto;
    position: relative;
  }

  nav ul li img{
    height: 50%;
    width: 10%;
  }

  nav ul li ul{
    display: none;
    position: absolute;
    padding: 0px;
    margin: 0px;
    background-color: #2a7a78;
  }

  nav ul li{
    position: relative;
    list-style-type: none;
    align-items: center;
  }

  nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  nav ul li:hover ul{
    display: block;
  }

  nav ul li ul li{
    display: block;
    text-decoration: none;
    align-items: center;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
  }

  nav ul li ul li a{
    text-decoration: none;
    color: white;
  }

  nav ul li ul li:hover{
    background-color: #74c7b9;
  }

  .search{
    order: 3;
    width: 32%;
    border: none;
    font-size: 17px;
  }

  #mySearch{
    width: 70%;
    height: 30px;
  }

  body{
      margin: 0;
  }

  .kontaktskjema{
    min-height: 540px;
      max-width: 750px;
      margin: auto;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      padding-top: 5px;
  }
input[type=text], select, textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 20px;
    resize: vertical;
}

select {
  height: 35px;
  border: 1px solid #ccc;
}

* {box-sizing: border-box;}

input[type=submit] {
    background-color: #297977;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #73c7b9;
}

footer{
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(42, 122, 120, 1);
     border-style: solid;
     border-width: 1px;
  }
